<nav class="p-4">
  <ul class="pagination">
    <li class="page-item" [ngClass]="getPreviousPageClass()">
      <a (click)="setCurrentPage(currentPage - 1)" class="page-link">Prev</a>
    </li>

    <ng-container *appTimes="images.length; let i = index">
      <li class="page-item" [appPagClass]="{active: this.currentPage === i}" *ngIf="getInLimitPageSize(i)">
        <a (click)="setCurrentPage(i)" class="page-link">{{i+1}}</a>
      </li>
    </ng-container>

    <li class="page-item" [ngClass]="getNextPageClass()">
      <a (click)="setCurrentPage(currentPage + 1)" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<app-page
  [title]="images[currentPage].title"
  [url]="images[currentPage].url"
>
</app-page>

